extends layout

block content
  main
    a(href="/authors")
      figure
        img(src="#")
        figcaption Authors
    a(href="/books")
      figure
        img(src="#")
        figcaption Books
