extends layout

block content
  section
    a(href="/authors")
      figure
        img(src="#")
        figcaption Authors
    a(href="/books")
      figure
        img(src="#")
        figcaption Books
