doctype html
html
  head
    title Galvanize Reads
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header  
      a(href="/")
        img(src="/images/galvanize.png")
      h1 Galvanize Reads
    section(class="landing")
      a(href="/authors")
        figure(class="landing")
          img(src="/images/author.png")
          figcaption Authors
      a(href="/books")
        figure(class="landing")
          img(src="/images/book.png")
          figcaption Books
