doctype html
html
  head
    title Galvanize Reads
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header  
      a(href="/")
        img(src="/images/galvanize.png")
      h1 Galvanize Reads
    main
      block nav
      block content
    //- main
    //-   aside(class="nav")
    //-     a(href="/authors")
    //-       div(class="authors")
    //-       img(src="#")
    //-       h2 Authors
    //-     a(href="/books")
    //-       div(class="books")
    //-       img(src="#")
    //-       h2 Books
    //-   block content
