doctype html
html
  head
    title Galvanize Reads
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header  
      img(src="/images/galvanize.png")
      h1 Galvanize Reads
    block content
