extends layout

block nav
  aside(class="nav")
    a(href="/authors")
      div(class="authors")
      img(src="/images/author.png")
      h2 Authors
    a(href="/books")
      div(class="books")
      img(src="/images/book.png")
      h2 Books
